@model IEnumerable<DataLayer.AddPage>
@{
    ViewBag.Title = "Index";
    Layout = "/Areas/Admin/Views/Shared/_HAndFooter.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="~/Content/HFdesign.css" rel="stylesheet" />
    <link href="~/Content/IndexD.css" rel="stylesheet" />
</head>
<body>
    <div></div>
    <a class="btn btn-success" href="/Admin/AddPages/Create/" style="margin-bottom:10px">Create New</a>
    <br />
    <table class="table table-bordered col-md-10 col-sm-6">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DateOfBirth</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Address</th>
            <th>Command</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td class="danger">
                    @*<a class="btn btn-info btn-sm" href="/Home/Detail/@item.StId">Detail</a>*@
                    <a class="btn btn-warning col-lg-4 col-md-3 col-sm-6 col-xs-12" href="/Admin/AddPages/Edit/@item.StId">Edit</a>
                    <a class="btn btn-danger col-lg-4 col-md-3 col-sm-6 col-xs-12" href="/Admin/AddPages/Delete/@item.StId">Delete</a>
                </td>
            </tr>
        }
    </table>

    @section Header
{
       
    }
    @section Footer
{
      
    }

  
</body>
</html>
